<footer>
    <div class="container">
        <div class="logo">
            <img src="logoyadika.png" alt="">
            <h2 class="fw-bold">SMK Yadika Soreang</h2>
            <h6>Jl. Raya Soreang, Cingcin, Kec. Soreang, <br> Kabupaten Bandung, Jawa Barat 40921

            </h6>
        </div>
        <div class="nameSosmed">
            <h2>Social Media</h2>
        </div>
        <div class="sosmed">
            <img src="instagram.png" alt="">
            <a href="">@smkyadikasoreangofficial</a>
        </div>
    </div>
</footer>