<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="container">
        <a class="navbar-brand fw-bold fs-3" href="#">Unit <span>Produksi</span></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto fs-5">
                <li class="nav-item">
                    <a class="nav-link" href="/home"><i class="bi bi-house-fill"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/menu"> <i class="bi bi-clipboard"></i> Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/alatTulis"><i class="bi bi-pencil-square"></i> Alat Tulis</a>
                </li>
            </ul>
        </div>
    </div>
</nav>