<!-- Nav -->
<div class="sideNav">
    <div class="profile">
        <center>
            <img src="icons/user.png" alt="">
        </center>
    </div>
    <h2>Admin</h2>

    <div class="nav">
        <ul>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/product">Product</a> </li>
            <li><a href="/transaction">Transaction</a></li>
        </ul>
        <div class="other">
            <ul>
                <li><a href="">Setting</a></li>
                <li><button id="logout">Logout</button></li>
            </ul>
        </div>
    </div>
</div>
<!-- End -->

<!-- Hamburger Menu -->
<div class="menuToggle">
    <input type="checkbox">
    <span></span>
    <span></span>
    <span></span>
</div>
<!-- End -->























<!-- <div class="main-container d-flex">
    <div class="sidebar" id="side_nav">
        <div class="header-box px-2 pt-3 pb-4 d-flex justify-content-between">
            <h1 class="fs-4"><span class="bg-white text-dark text-center rounded shadow px=2 me-2">
                    <div class="profile">
                        <img src="img1.png" width="100px" alt="">
                    </div>
                    Unit Produksi
                </span>
            </h1>
            <button class="btn d-md-none d-block close-btn px-1 py-0 text-white"><i class="bi bi-list"></i></button>
        </div>

        <ul class="list-unstyled px-2">
            <li class=""><a href="" class="text-decoration-none px-3 py-2 d-block"><i class="bi bi-speedometer2"></i>
                    Dashboard</a></li>
            <li class=""><a href="" class="text-decoration-none px-3 py-2 d-block"><i class="bi bi-box2"></i>
                    Product</a></li>
            <li class=""><a href="" class="text-decoration-none px-3 py-2 d-block"><i class="bi bi-cart-check"></i>
                    Transaction</a></li>
        </ul>
        <hr class="h-color mx-3">
        <ul class="list-unstyled px-2">
            <li class=""><a href="" class="text-decoration-none px-3 py-2 d-block"><i class="bi bi-gear"></i>
                    Setting</a></li>
            <li class=""><a href="" class="text-decoration-none px-3 py-2 d-block"> Log out</a></li>
        </ul>
    </div>
</div> -->