<div class="menu">
    <h1>Alat Tulis</h1>
    <div class="more">
        <a href="more/more.html"><button class="btn btn-primary">
                Selengkapnya <img src="img/down-arrow 1.png" alt="" /></button></a>
    </div>
    <div class="slider">
        <div class="swiper slide-container">
            <div class="swiper-wrapper card-wrapper">
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://id-test-11.slatic.net/p/353f1047c3f016609c831dfa979135c2.jpg" alt=""
                                width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Buku Sidu</h1>
                            <p>Rp 5000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://id-test-11.slatic.net/p/353f1047c3f016609c831dfa979135c2.jpg" alt=""
                                width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Buku Sidu</h1>
                            <p>Rp 5000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://id-test-11.slatic.net/p/353f1047c3f016609c831dfa979135c2.jpg" alt=""
                                width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Buku Sidu</h1>
                            <p>Rp 5000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://id-test-11.slatic.net/p/353f1047c3f016609c831dfa979135c2.jpg" alt=""
                                width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Buku Sidu</h1>
                            <p>Rp 5000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://id-test-11.slatic.net/p/353f1047c3f016609c831dfa979135c2.jpg" alt=""
                                width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Buku Sidu</h1>
                            <p>Rp 5000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://id-test-11.slatic.net/p/7de607e70678b96698d163eabcc83054.jpg" alt=""
                                width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Pulpen Standard</h1>
                            <p>Rp 2500</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://id-test-11.slatic.net/p/7de607e70678b96698d163eabcc83054.jpg" alt=""
                                width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Pulpen Standard</h1>
                            <p>Rp 2500</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://id-test-11.slatic.net/p/7de607e70678b96698d163eabcc83054.jpg" alt=""
                                width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Pulpen Standard</h1>
                            <p>Rp 2500</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://id-test-11.slatic.net/p/7de607e70678b96698d163eabcc83054.jpg" alt=""
                                width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Pulpen Standard</h1>
                            <p>Rp 2500</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>