<div class="container position-absolute" id="dashboard">
    <div class="row">
        <div class="col">
            <h2 class="mt-5 mb-4 fw-bold">Dashboard</h2>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex justify-content-evenly">
            <div class="box costumers">
                <h3>100</h3>
                <p>Costumers</p>
            </div>
            <div class="box products">
                <h3>30</h3>
                <p>Product</p>
            </div>
            <div class="box orders">
                <h3>200</h3>
                <p>Orders</p>
            </div>
            <div class="box income">
                <h3>Rp 200.000,00</h3>
                <p>Income</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="doughnut-container position-absolute">
                <canvas id="Doughnut-Chart"></canvas>
            </div>
            <div class="chartLine-container position-absolute">
                <canvas id="Line-Chart"></canvas>
            </div>
        </div>
    </div>
</div>