<div class="vh-100 d-flex justify-content-center align-items-center" id="login">
    <div class="col-md-4 p-5 shadow-sm border rounded-5 border-primary">
        <h2 class="text-center mb-4 text-primary">Login</h2>

        <form id="formLogin" onsubmit="return false">
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="text" class="form-control bg-info bg-opacity-10 border border-primary" id="username">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control bg-info bg-opacity-10 border border-primary" id="password">
            </div>
            <p class="small"><a class="text-primary" href="forget-password.html">Forgot password?</a></p>
            <div class="d-grid">
                <button class="btn btn-primary" id="btn">Login</button>
            </div>
        </form>

        <div class="mt-3">
            <p class="mb-0  text-center">Don't have an account? <button class="btn btn-sm btn-primary" id="btnSignup"
                    style="cursor: pointer;">Sign
                    Up</button></p>
        </div>
        <p class="position-absolute text-danger ms-4 mt-2" id="wrong"></p>
    </div>
</div>

<div class="vh-100 d-flex justify-content-center align-items-center d-none" id="signUp">
    <div class="col-md-4 p-5 shadow-sm border rounded-5 border-primary">
        <h2 class="text-center mb-4 text-primary">Sign Up</h2>
        <form>
            <div class="mb-3">
                <label class="form-label">Username</label>
                <input type="username" class="form-control bg-info bg-opacity-10 border border-primary"
                    id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label class="form-label">Email address</label>
                <input type="email" class="form-control bg-info bg-opacity-10 border border-primary"
                    id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control bg-info bg-opacity-10 border border-primary"
                    id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label class="form-label">Repeat Password</label>
                <input type="password" class="form-control bg-info bg-opacity-10 border border-primary"
                    id="exampleInputPassword1">
            </div>
            <div class="d-grid">
                <button class="btn btn-primary" type="submit">Sign Up</button>
            </div>
        </form>
        <div class="mt-3">
            <p class="mb-0  text-center">Have already an account? <button class="btn btn-sm btn-primary"
                    id="btnLogin">Login</button></p>
        </div>
    </div>
</div>

<div class="container">
    <div id="load" class="text-center">
    </div>
</div>