<div class="menu">
    <h1>Food Menu</h1>
    <div class="slider">
        <div class="swiper slide-container">
            <div class="swiper-wrapper card-wrapper">
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/d43f0a9b-3ac9-4f26-b92c-cd7e30ee72fb_Go-Biz_20210708_071812.jpeg"
                                alt="" width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Makaroni Kering</h1>
                            <p>Rp 5000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/d43f0a9b-3ac9-4f26-b92c-cd7e30ee72fb_Go-Biz_20210708_071812.jpeg"
                                alt="" width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Makaroni Kering</h1>
                            <p>Rp 5000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/d43f0a9b-3ac9-4f26-b92c-cd7e30ee72fb_Go-Biz_20210708_071812.jpeg"
                                alt="" width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Makaroni Kering</h1>
                            <p>Rp 5000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/d43f0a9b-3ac9-4f26-b92c-cd7e30ee72fb_Go-Biz_20210708_071812.jpeg"
                                alt="" width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Makaroni Kering</h1>
                            <p>Rp 5000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/d43f0a9b-3ac9-4f26-b92c-cd7e30ee72fb_Go-Biz_20210708_071812.jpeg"
                                alt="" width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Makaroni Kering</h1>
                            <p>Rp 5000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/d43f0a9b-3ac9-4f26-b92c-cd7e30ee72fb_Go-Biz_20210708_071812.jpeg"
                                alt="" width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Makaroni Kering</h1>
                            <p>Rp 5000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/d43f0a9b-3ac9-4f26-b92c-cd7e30ee72fb_Go-Biz_20210708_071812.jpeg"
                                alt="" width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Makaroni Kering</h1>
                            <p>Rp 5000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/d43f0a9b-3ac9-4f26-b92c-cd7e30ee72fb_Go-Biz_20210708_071812.jpeg"
                                alt="" width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Makaroni Kering</h1>
                            <p>Rp 5000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://i.gojekapi.com/darkroom/gofood-indonesia/v2/images/uploads/d43f0a9b-3ac9-4f26-b92c-cd7e30ee72fb_Go-Biz_20210708_071812.jpeg"
                                alt="" width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Makaroni Kering</h1>
                            <p>Rp 5000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!-- End -->
    <hr>
    <!-- Drink Menu -->
    <h1>Drink Menu</h1>
    <div class="slider">
        <div class="swiper slide-container">
            <div class="swiper-wrapper card-wrapper">
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="http://d1r7omh34z6onh.cloudfront.net/gk/production/8114c2e965f7a00b0a8b39d8e6369cfe.jpg"
                                alt="" width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Milo</h1>
                            <p>Rp 4000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="http://d1r7omh34z6onh.cloudfront.net/gk/production/8114c2e965f7a00b0a8b39d8e6369cfe.jpg"
                                alt="" width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Milo</h1>
                            <p>Rp 4000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="http://d1r7omh34z6onh.cloudfront.net/gk/production/8114c2e965f7a00b0a8b39d8e6369cfe.jpg"
                                alt="" width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Milo</h1>
                            <p>Rp 4000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="http://d1r7omh34z6onh.cloudfront.net/gk/production/8114c2e965f7a00b0a8b39d8e6369cfe.jpg"
                                alt="" width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Milo</h1>
                            <p>Rp 4000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="http://d1r7omh34z6onh.cloudfront.net/gk/production/8114c2e965f7a00b0a8b39d8e6369cfe.jpg"
                                alt="" width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Milo</h1>
                            <p>Rp 4000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="http://d1r7omh34z6onh.cloudfront.net/gk/production/8114c2e965f7a00b0a8b39d8e6369cfe.jpg"
                                alt="" width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Milo</h1>
                            <p>Rp 4000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="http://d1r7omh34z6onh.cloudfront.net/gk/production/8114c2e965f7a00b0a8b39d8e6369cfe.jpg"
                                alt="" width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Milo</h1>
                            <p>Rp 4000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="http://d1r7omh34z6onh.cloudfront.net/gk/production/8114c2e965f7a00b0a8b39d8e6369cfe.jpg"
                                alt="" width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Milo</h1>
                            <p>Rp 4000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="http://d1r7omh34z6onh.cloudfront.net/gk/production/8114c2e965f7a00b0a8b39d8e6369cfe.jpg"
                                alt="" width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Milo</h1>
                            <p>Rp 4000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!-- End -->
    <hr>
    <!-- Dessert Menu -->
    <h1>Dessert Menu</h1>
    <div class="slider">
        <div class="swiper slide-container">
            <div class="swiper-wrapper card-wrapper">
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://centraljavacorridor.id/assets/images/uploads/sweet-sundae.jpg" alt=""
                                width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Ice Cream</h1>
                            <p>Rp 2000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://centraljavacorridor.id/assets/images/uploads/sweet-sundae.jpg" alt=""
                                width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Ice Cream</h1>
                            <p>Rp 2000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://centraljavacorridor.id/assets/images/uploads/sweet-sundae.jpg" alt=""
                                width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Ice Cream</h1>
                            <p>Rp 2000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://centraljavacorridor.id/assets/images/uploads/sweet-sundae.jpg" alt=""
                                width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Ice Cream</h1>
                            <p>Rp 2000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://centraljavacorridor.id/assets/images/uploads/sweet-sundae.jpg" alt=""
                                width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Ice Cream</h1>
                            <p>Rp 2000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://centraljavacorridor.id/assets/images/uploads/sweet-sundae.jpg" alt=""
                                width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Ice Cream</h1>
                            <p>Rp 2000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://centraljavacorridor.id/assets/images/uploads/sweet-sundae.jpg" alt=""
                                width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Ice Cream</h1>
                            <p>Rp 2000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://centraljavacorridor.id/assets/images/uploads/sweet-sundae.jpg" alt=""
                                width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Ice Cream</h1>
                            <p>Rp 2000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide card">
                    <div class="card-content">
                        <div class="card-img">
                            <img src="https://centraljavacorridor.id/assets/images/uploads/sweet-sundae.jpg" alt=""
                                width="200px" />
                        </div>
                        <div class="card-text">
                            <h1>Ice Cream</h1>
                            <p>Rp 2000</p>
                            <a href=""><button class="btn btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
    <!-- End -->
</div>