<div class="back fs-1">
    <a href="/menu"><button class="btn fs-3 fw-bold btnBack"><i class="bi bi-chevron-left"></i>Back</button></a>
</div>

<div class="trolli">

    <h3>Keranjang Anda :</h3>

    <table class="text-center">
        <tr>
            <th>Product</th>
            <th>Qty</th>
            <th>Total</th>
            <th>Action</th>
        </tr>
        <tr>
            <td>Telur Gulung</td>
            <td>5</td>
            <td>5000</td>
            <td><button>Buy</button></td>
        </tr>
        <tr>
            <td>Makaroni</td>
            <td>10</td>
            <td>5000</td>
            <td><button>Buy</button></td>
        </tr>
    </table>
</div>