<div class="container">
    <div class="row">
        <div class="col">
            <h2>Product</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="product">

                <table class="text-center">
                    <tr>
                        <th>Product</th>
                        <th>Qty</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                    <tr>
                        <td>Telur Gulung</td>
                        <td>5</td>
                        <td>5000</td>
                        <td><button>Buy</button></td>
                    </tr>
                    <tr>
                        <td>Makaroni</td>
                        <td>10</td>
                        <td>5000</td>
                        <td><button>Buy</button></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>