<div class="container" id="transaction-container">
  <div class="row">
    <div class="col">
      <h2 class="mt-5 mb-4 fw-bold">Transaction</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="transaction">
        <table class="text-center">
          <tr>
            <th>ID</th>
            <th>Product</th>
            <th>Amout</th>
            <th>Total Price</th>
            <th>Status</th>
          </tr>
          <tr>
            <td>#15</td>
            <td>Pulpen</td>
            <td>5</td>
            <td>1000</td>
            <td><button id="btn1">Sudah Bayar</button><button id="btn2">Belum Bayar</button></td>
          </tr>
          <tr>
            <td>#50</td>
            <td>Ice Cream</td>
            <td>10</td>
            <td>2500</td>
            <td><button id="btn1">Sudah Bayar</button><button id="btn2">Belum Bayar</button></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>