body {
  font-family: "Khula", sans-serif;
  /* background-color: blue; */
}
.bg-image-vertical {
  position: relative;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: right center;
  background-size: auto 100%;
}
.signUp {
  display: none;
}

#btnSignup,
#btnLogin {
  background-color: transparent;
  color: #000000;
  border-radius: 7px;
  border-color: slateblue;
}

#btnSignup:hover {
  color: white;
  background-color: slateblue;
}
#btnLogin:hover {
  color: white;
  background-color: slateblue;
}

@media (min-width: 1025px) {
  .h-custom-2 {
    height: 100%;
  }
  #load img {
    margin-top: 100px;
    width: 50%;
  }
}

@media only screen and (max-width: 678px) {
  #load img {
    margin-top: 200px;
    width: 100%;
  }
}
